#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  dolibarr-app.service
BindsTo=dolibarr.service
After=dolibarr.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/dolibarr-app.pid %t/dolibarr-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/dolibarr-app.pid \
    --cidfile %t/dolibarr-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/dolibarr.pod-id --replace -d --name  dolibarr-app \
    --env-file=%S/state/dolibarr-db.env \
    --env DOLI_ADMIN_LOGIN=${DOLI_ADMIN_LOGIN} \
    --env DOLI_ADMIN_PASSWORD=${DOLI_ADMIN_PASSWORD} \
    --env DOLI_URL_ROOT=${DOLI_URL_ROOT} \
    --env PHP_INI_DATE_TIMEZONE=Africa/Nairobi \
    --volume=dolidoc:/var/www/documents \
    --volume=doliscripts:/var/www/scripts \
    --volume=dolicustom:/var/www/custom \
    ${DOLIBARR_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dolibarr-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP dolibarr-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dolibarr-app.ctr-id
PIDFile=%t/dolibarr-app.pid
Type=forking

[Install]
WantedBy=default.target
