[Unit]
Description=Podman mariadb-app.service
BindsTo=dolibarr.service
After=dolibarr.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/mariadb-app.pid %t/mariadb-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/mariadb-app.pid \
    --cidfile %t/mariadb-app.ctr-id --cgroups=no-conmon \
    --pod dolibarr-pod \
    --name mariadb-app \
    --env-file=%S/state/environment \
    --volume mysql-data:/var/lib/mysql/:Z \
    --env MARIADB_ROOT_PASSWORD=Dolibarr,1234 \
    --env MARIADB_DATABASE=dolibarr \
    --env MARIADB_USER=dolibarr \
    --env MARIADB_PASSWORD=Dolibarr,1234 \
    --env MARIADB_AUTO_UPGRADE=1 \
    ${MARIADB_IMAGE} \
    --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
ExecReload=/usr/bin/podman kill -s HUP mariadb-app
SyslogIdentifier=%u
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mariadb-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mariadb-app.ctr-id
PIDFile=%t/mariadb-app.pid
Type=forking

[Install]
WantedBy=default.target
